<?xml version='1.0' encoding='UTF-8'?>  

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/projektverwaltung?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC </property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection_pool_size">1</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>

		<mapping class="model.implementation.Student" />
		<mapping class="model.implementation.Projekt" />
		<mapping class="model.implementation.Modul" />
		<mapping class="model.implementation.Thema" />
		<mapping class="model.implementation.Sprint" />
		<mapping class="model.implementation.URLs" />
		<mapping class="model.implementation.Termin" />
	
		





	</session-factory>

</hibernate-configuration>