



 
 /**********ListView*****************/


.list-cell:filled:hover {
    -fx-text-fill: #AD8B65;
}
 
 
.list-view > .virtual-flow > .scroll-bar,
.list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.list-view > .virtual-flow > .scroll-bar .increment-arrow,
.list-view > .virtual-flow > .scroll-bar .decrement-button,
.list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0.0;
    -fx-pref-height: 0.0;
}
 
.list-cell:filled:selected {
    -fx-background-color: #A89583;
    
}






#addBtn ,#updateBtn,#removeBtn{
	
	-fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-text-fill: white;
	
}

#addBtn:hover,#updateBtn:hover ,#removeBtn:hover{
	-fx-background-color: #A89583;
	-fx-text-fill: white;
    -fx-border-color:#F2F2F2;
    -fx-border-width: 0 0 0 7;
}

#addBtn:pressed,#updateBtn:pressed ,#removeBtn:pressed{
	
	-fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}


#labelButton{
	
	-fx-background-color: transparent;
	-fx-text-fill: white;
}









