.dialog-pane{
  -fx-border-color:#899B7B;
  -fx-border-width:0px;
 }

/**Costumization of The Bar where the buttons are located**/


.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: transparent;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: #899B7B;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: yellow;
  -fx-background-radius:10px;
  -fx-text-fill:black;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane #yes {
   -fx-background-color:white;
   -fx-text-fill:black;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, #675B52, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.dialog-pane #yes:hover{     
  -fx-background-color:#65C094;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
    -fx-font-family: "Courier New";
 }
 
.dialog-pane #no {
   -fx-background-color:white;
   -fx-text-fill:black;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, #675B52, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.dialog-pane #no:hover{     
  -fx-background-color:#C32D25;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
    -fx-font-family: "Courier New";
 }
 
 .alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url("confirm.png");
    -fx-border-width:0px;
   -fx-background-size: 64px 64px;
}